<h1>Version</h1>


<%=@entrypoint[:'fullName'] %> Version: <%=@entrypoint[:'apiVersion'] %>

<BR>


<%=@Providerhref%>

<br>

Provider keys:<%=@ProviderKeys%>
<br>

Provider Keys: <%=@Tenants%>
